<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">Status</div>
      <div class="panel-body">
        <dl class="dl-horizontal">
          <dt>ID:</dt>
          <dd>{{ vm.id }}</dd>
          <dt>Hostname:</dt>
          <dd>{{ vm.hostname }}</dd>
          <dt>Status:</dt>
          <dd><span class="label label-{{ vm.status | status_label }}">{{ vm.status }}</span></dd>
          <dt>Type:</dt>
          <dd>{{ vm.type }}</dd>
          <dt>Booted:</dt>
          <dd>{{ vm.initialize_time.strftime('%H:%M:%S %d-%b') }}</dd>
          <dt>Updated:</dt>
          <dd>{{ vm.last_updated.strftime('%H:%M:%S %d-%b') }}</dd>
        </dl>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>Time</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          {% for row in vm.status_history %}
            <tr class="{{ row[1] }}">
              <td>{{ row[0].strftime('%H:%M:%S %d-%b') }}</td>
              <td><span class="label label-{{ row[1] | status_label }}">{{ row[1] }}</span></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">Jobs</div>
      <div style="height: 200px; overflow-y: scroll;">
        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Status</th>
              <th>Queued</th>
              <th>Status Changed</th>
            </tr>
          </thead>
          <tbody>
            {% for job in vm.jobs %}
              <tr class="{{ job['status'] }}">
                <td>
                  <a href="/clouds/{{ job.grid }}/{{ job.cloud }}/jobs/{{ job._id }}">{{ job._id }}</a>
                </td>
                <td><span class="label label-{{ job['status'] | status_label }}">{{ job['status'] }}</span></td>
                <td>{{ job.queue_date.strftime('%H:%M:%S %d-%b') }}</td>
                <td>
                  {{ job.status_history.pop()[0].strftime('%H:%M:%S %d-%b') }}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    {#
    <div class="panel panel-default">
      <div class="panel-heading">Ganglia</div>
      <div class="panel-body">
        <img src="ganglia/graph.php?c={{ vm.grid }}&amp;h={{ vm.hostname.split('.')[0] }}&amp;r=hour&amp;g=cpu_report&amp;width=400&amp;height=200">
        <img src="ganglia/graph.php?c={{ vm.grid }}&amp;h={{ vm.hostname.split('.')[0] }}&amp;r=hour&amp;g=mem_report&amp;width=400&amp;height=200">
      </div>
    </div>
    #}
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">Logs</div>
      {% include 'partials/logs.html.j2' %}
    </div>
  </div>
</div>
