{% extends "layouts/cmon.html.j2" %}

{% block breadcrumb %}
    <li><a href="/"><span class="glyphicon glyphicon-home"></span> Summary</a></li>
    <li class="active">{{ cloud.grid }}</li>
    <li class="active">{{ cloud.name }}</li>
{% endblock %}

{% block content %}
  {% include 'partials/cloud.html.j2' %}
{% endblock %}
