{% extends "layouts/cmon.html.j2" %}

{% block breadcrumb %}
  <li class="active"><span class="glyphicon glyphicon-home"></span> Summary</li>
{% endblock %}

{% block content %}
  {% include 'partials/grids.html.j2' %}
{% endblock %}
