log_file: /var/log/cmon.log
log_level: DEBUG

graphite:
  server: localhost
  web_port: 80
  pickle_port: 2004

rabbitmq:
  server: localhost
  port: 5672
  vhost: /sensu
  user: sensu
  secret: SENSU_RABBITMQ_SECRET
  exchange: cmon
  queue: cmon

mongodb:
  server: localhost
  port: 27017
  db: cmon

links:
  - name: Sensu
    url: http://<HOSTNAME>:3001
    icon: ok
  - name: Grafana
    url: http://<HOSTNAME>:3000
    icon: dashboard
  - name: Graphite
    url: http://<HOSTNAME>:81
    icon: hdd
  - name: Ganglia
    url: http://<HOSTNAME>:81/ganglia
    icon: signal
  - name: Kibana
    url: http://<HOSTNAME>:5601
    icon: list
